<div class="flex justify-center items-center min-h-[70vh]">
  <mat-card
    class="w-full max-w-md p-6 shadow-xl border border-stone-200 dark:border-stone-800 bg-white dark:bg-stone-900 rounded-2xl">
    <mat-card-header class="mb-6 text-center flex flex-col items-center">
      <div
        class="w-12 h-12 rounded-full bg-blue-100 dark:bg-blue-950 flex items-center justify-center text-blue-600 dark:text-blue-400 mb-3">
        <mat-icon>person</mat-icon>
      </div>
      <mat-card-title class="text-2xl font-bold text-stone-800 dark:text-stone-100">Portal Obywatela</mat-card-title>
      <mat-card-subtitle class="text-stone-500 dark:text-stone-400">Zaloguj się, aby zarządzać swoimi
        sprawami</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="flex flex-col gap-4">
      <button mat-flat-button
        class="w-full !bg-blue-600 !text-white py-3 rounded-lg font-medium flex items-center justify-center gap-2">
        <mat-icon>lock</mat-icon>
        Profil Zaufany / mObywatel
      </button>

      <div class="relative flex py-2 items-center">
        <div class="flex-grow border-t border-stone-300 dark:border-stone-700"></div>
        <span class="flex-shrink mx-4 text-stone-400 text-xs uppercase tracking-wider">lub e-mail</span>
        <div class="flex-grow border-t border-stone-300 dark:border-stone-700"></div>
      </div>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Adres e-mail</mat-label>
        <input matInput placeholder="jan.kowalski@example.com">
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Hasło</mat-label>
        <input matInput type="password" placeholder="••••••••">
        <mat-icon matSuffix>visibility_off</mat-icon>
      </mat-form-field>

      <button mat-flat-button routerLink="/citizen/dashboard"
        class="w-full !bg-stone-900 dark:!bg-stone-100 dark:!text-stone-900 !text-white py-3 rounded-lg font-medium">
        Zaloguj się tradycyjnie
      </button>
    </mat-card-content>

    <mat-card-actions
      class="flex justify-between items-center mt-6 pt-4 border-t border-stone-100 dark:border-stone-800">
      <span class="text-xs text-stone-500">Strefa administracyjna?</span>
      <a routerLink="/official/login"
        class="text-xs text-indigo-600 dark:text-indigo-400 hover:underline font-semibold">Panel Urzędnika &rarr;</a>
    </mat-card-actions>
  </mat-card>
</div>