<div class="dashboard-layout">
  <header>
    <h1>System Rejestracji Umów Bankowych</h1>
    <div class="user-info">
      <span>Zalogowano jako: <strong>{{ authService.currentUser()?.id || 'Pracownik' }}</strong></span>
      <button (click)="onLogout()">Wyloguj</button>
    </div>
  </header>

  <main>
    <section class="action-card">
      <h3>Nowa umowa / Nowe konto</h3>
      <p>Rozpocznij wniosek o założenie konta bankowego dla klienta.</p>
      <button class="btn-primary">Rozpocznij proces</button>
    </section>
  </main>
</div>